@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	list-style:none;
}
body,html{
	width:100%;
	background-color:#E4E4E4;
}
img,span{
	display:block;
}
a{
	text-decoration: none;
	
}
#header{
	width:1017px;
	height:117px;
	margin:0 auto;

}
.content{
	width:1017px;
	height:514px;
	margin:0 auto;
	background-color:white;
}
.content .left{
	width:505px;
	height:494px;
	padding-top:20px;
	float:left;
}
.content .left img{
	margin:0 auto;
}
.content .right{
	width:400px;
	height:100%;
	float:left;
	
}
.content .right .name{
	width:100%;
	height:37px;
}
.content .right .name p{
	width:50%;
	height:100%;
	text-align:center;
	float:left;
	line-height:37px;
	margin-top:6px;
	position:relative;
}
.content .right .name p span{
	height:2px;
	width:55px;
	background-color:black;
	margin:0 auto;
}
.content .right .formA{
	width:400px;
	height:306px;
	outline:1px solid #999999;
	margin-top:9px;
	
}
.content .right .formA .formOne{
	width:324px;
	height:65px;
	margin:0 auto;
	margin-top:20px;
}
.content .right .formA .formOne .one{
	display:block;
	width:314px;
	height:40px;
	border-radius: 5px;
	outline:none;
	border:1px solid #999999;
	color:#6F6F6F;
	padding-left:10px;
}
.content .right .formA .formOne .p1{
	height:22px;
	width:100%;
	
}
.content .right .formA .formTwo{
	margin-top:0px;
}
.content .right .formA .formThree{
	width:324px;
	height:30px;
	margin-top:10px;
	margin:0 auto;
}
.content .right .formA .formThree p{
	height:100%;
	width:50%;
	font-size:12px;
	line-height:30px;
	float:left;
}
.content .right .formA .formThree p.p1{
	text-align:left;
}
.content .right .formA .formThree p.p2{
	text-align:right;
}
.content .right .formA .btn{
	display:block;
	height:43px;
	width:324px;
	margin:0 auto;
	background-color:#E30165;
	border-radius: 5px;
	font-size:16px;
	color:white;
	border:none;
	outline:none;
	cursor:pointer;
}
.content .right .formA .formFour{
	width:324px;
	height:39px;
	margin:0 auto;
	margin-top:20px;
}
.content .right .formA .formFour p{
	font-size:12px;
	color:#6F6F6F;
	float:left;
	line-height:39px;
	
}
.content .right .formA .formFour a{
	float:left;
	margin-left:5px;
}
.content .right .formB{
	width:400px;
	height:395px;
	outline:1px solid #999999;
	margin-top:9px;
	display:none;
}
.content .right .formB .formOne{
	width:324px;
	height:65px;
	margin:0 auto;
	margin-top:20px;
}
.content .right .formB .formOne .one{
	display:block;
	width:314px;
	height:40px;
	border-radius: 5px;
	outline:none;
	border:1px solid #999999;
	color:#6F6F6F;
	padding-left:10px;
}
.content .right .formB .formOne .p1{
	height:22px;
	width:100%;
	
}
.content .right .formB .formTwo{
	margin-top:0px;
	height:89px;
}
.content .right .formB .formTwo div{
	height:40px;
	width:324px;
}
.content .right .formB .formTwo span{
	height:24px;
	line-height:24px;
	font-size:12px;
	text-align:right;
}
.content .right .formB .formTwo img{
	width:190px;
	height:40px;
	
	float:right;
}
.content .right .formB .formTwo .one{
	width:102px;
	float:left;
}
.content .right .formB .formPP{
	width:324px;
	height:65px;
	margin:0 auto;
} 
.content .right .formB .formPP div{
	height:40px;
}
.content .right .formB .formPP .one{
	display:block;
	width:182px;
	float:left;
}
.content .right .formB .formPP .btn{
	display:block;
	width:112px;
	float:right;
	background-color:#FF9CB1;
	border:none;
	outline:none;
}
.content .right .formB .formThree{
	width:324px;
	height:30px;
	margin-top:10px;
	margin:0 auto;
}
.content .right .formB .formThree p{
	height:100%;
	width:50%;
	font-size:12px;
	line-height:30px;
	float:left;
}
.content .right .formB .formThree p.p1{
	text-align:left;
}
.content .right .formB .formThree p.p2{
	text-align:right;
}
.content .right .formB .btn{
	display:block;
	height:43px;
	width:324px;
	margin:0 auto;
	background-color:#E30165;
	border-radius: 5px;
	font-size:16px;
	color:white;
	border:none;
	outline:none;
	cursor:pointer;
}
.content .right .formB .formFour{
	width:324px;
	height:39px;
	margin:0 auto;
	margin-top:20px;
}
.content .right .formB .formFour p{
	font-size:12px;
	color:#6F6F6F;
	float:left;
	line-height:39px;
	
}
.content .right .formB .formFour a{
	float:left;
	margin-left:5px;
}





#footer{
	width:980px;
	height:44px;
	margin:0 auto;
	margin-top:78px;

}
#footer  ul.two {
	height:12px;
	
	width:495px;
	margin:0 auto;
	margin-top:40px;
	
}
#footer  ul.two li{
	float:left;
	
}
#footer  ul.two li a{
	font-size:12px;
	margin:0 5px;
	color:#999999;
}
#footer p {
	height:12px;
	font-size:12px;
	color:#999999;
	width:587px;
	margin:0 auto;
	margin-top:10px;
	
}
