/*********内容区************/

#contentOut{
	width:1200px;
	height:400px;
	border:1px solid #CCCCCC;
	margin:0px auto;
	position:relative;

}
#contentOut .pp{
	width:1200px;
	height:180px;
	
	padding-top:20px;
}
#contentOut .pp ul{
	width:844px;
	height:170px;
	margin:0 auto;
	
}
#contentOut .pp ul li{
	height:22px;
	font-size:14px;
	line-height:20px;
	margin-bottom:6px;
}
#contentOut .pp ul li img,p,span{
	display:inline;
}
#contentOut .pp ul li img{
	height:22px;
	vertical-align: middle;
}
#contentOut .pp ul li span{
	color:red;
}
#contentOut .pic{
	width:884px;
	height:149px;
	margin:0 auto;
}
#contentOut .pic img{
	display:block;
}
#jinDu{
	position:absolute;
	width:620px;
	height:53px;
	right:250px;
	top:-25px;
	
}
/*********内容区************/