@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	list-style:none;
}
body,html{
	width:100%;
	background-color:white;
}
img,span{
	display:block;
}
a{
	text-decoration: none;
	
}

#header{
	width:100%;
	height:159px;
	background-color:yellow;
}


/********header1 导引*******/	
#header #header1{
	width:100%;
	height:26px;
	background-color:#F6F6F6;
	border-bottom:1px solid #EDEDED;
	position:relative;
	z-index:99;
}


#header #header1 #origin{
	width:1200px;
	height:100%;
	margin:0 auto;
}
#header #header1 #origin img{
	float:left;
}
#header #header1 #origin ul{
	float:right;
	height:100%;
	margin-right:30px;
	
}
#header #header1 #origin ul li.origin{
	float:left;
	height:26px;
	text-align:center;
	margin-left:8px;
	
}
#header #header1 #origin ul li.saoMa1{
	
	margin-left:20px;
	display:none;
	
	
}
#header #header1 #origin ul li.saoMa2{
	
	margin-left:60px;
	display:none;
}
#header #header1 #origin ul li.saoMa3{
	margin-left:100px;
	display:none;
	
}
#header #header1 #origin ul li.saoMa4{
	margin-left:260px;
	margin-top:25px;
	width:200px;
	height:120px;
	font-size:12px;
	line-height:120px;
	text-align:center;
	background-color:white;
	color:black;
	border:1px solid #EDEDED;
	display:none;
	
}

	
	

#header #header1 #origin ul li a{
		
	font-size:11px;
	width:100%;
	line-height:26px;
	color:#666666;
	text-decoration:none;
}
#header #header1 #origin ul li a:hover{
	color:darkred;
}
#header #header1 #origin ul li p{
	display:inline;

	font-size:11px;
	color:#D4D4D4;
}
/********header1 导引*******/	

/********header2 头*******/	
#header2{
	width:100%;
	height:132px;
	background-color:white;
}
#header2 #inputKua{
	width:1200px;
	height:103px;
	margin:0 auto;
}
#header2 #inputKua #mengPic{
	float:left;
	
} 
#header2 #inputKua #souSou{
	
	float:left;
	width:540px;
	height:35px;
	background:url("../img/header2/header202.jpg") no-repeat;
	margin-top:31px ;
	margin-left:102px;
	
	
}
#header2 #inputKua #souSou #souSuokua{
	margin-left:8px;
	line-height:35px;
	float:left;
	
}
#header2 #inputKua #souSou #souSuokua input{
	width:438px;
	border:none;
	font-size:16px;
	color:#B9B9B9;
	outline:none;
	
}	
#header2 #inputKua #souSou #btnSouSuo{
	float:right;
	margin-left:8px;
	line-height:35px;
	height:35px;
	color:white;
	width:62px;
	font-weight:700;
	padding-left:10px;
	background-color:#E50163;
	cursor:pointer;
	
}



/********header2 搜索框*******/	

/********header2 导航列*******/
#header2 #inputKua #daoHang{
	width:510px;
	height:12px;
	margin-top:6px;
	float:left;
	margin-left:102px;
}

#header2 #inputKua #daoHang ul li{
	float:left;
	height:12px;
	font-size:12px;
	line-height:12px;
	text-align:center;
	border-right:1px solid #E3E3E3;
	
}
#header2 #inputKua #daoHang ul li a{
	color:#9C9D9F;
	margin:0 15px;
	text-decoration:none;
}
#header2 #inputKua #daoHang ul li a:hover{
	color:red;
}
#header2 #inputKua #daoR{
	float:right;
	margin-top:-32px;
	margin-right:25px;
	width:121px;
	height:28px;
	background-color:#F9F9F9;
	line-height:28px;
	text-align:center;
	font-size:12px;
	position:relative;
}
#header2 #inputKua #daoR img{
	display:block;
	float:left;
}
#header2 #inputKua #daoR p{
	display:block;
	float:left;
	width:42px;
	margin-left:40px;
	
}
#header2 #inputKua #daoR span{
	width:16px;
	height:17px;
	border-radius:50%;
	color:white;
	line-height:18px;
	text-align:center;
	float:left;
	position:absolute;
	left:24px;
	top:-5px;
	display:block;
}
#header2 #inputKua #daoR .shoppingC{
	position:absolute;
	left:-330px;
	top:28px;
	width:450px;
	min-height:250px;
	height:auto;
	border:1px solid #E2E2E2;
	z-index:999999;
	background-color:white;
	display:none;
	
}
#header2 #inputKua #daoR .shoppingC p{
	width:450px;
	height:250px;
	font-size:12px;
	line-height:250px;
	text-align:center;
	margin:0;
	
}
/********header2 导航列*******/	

/********header2底 *******/

/********container区开始 *******/

.conAreaList{
	width:1200px;
	min-height:4000px;
	
	margin:20px auto;
}
.conAreaList .two{
	width:1200px;
	min-height:50px;
	
	margin-top:25px;
}
.conAreaList .two .head{
	width:1185px;
	height:40px;
	line-height:40px;
	padding-left:15px;
	font-size:12px;
	
}

.conAreaList .two .lie ul{
	
	width:1198px;
	border:1px solid #E2E2E2;
	border-top:none;
	font-size:12px;
	
	
}
.conAreaList .two .lie ul.t1{
	border-top:1px solid #E2E2E2;
	height:104px;
	
	
}
.conAreaList .two .lie ul.tb{
	border-top:none;
}
.conAreaList .two .lie ul.tt{
	display:none;
}

.conAreaList .two .lie ul.t1 li.title{
	height:70px;
	width:116px;
	line-height:60px;
	text-align:center;
	font-weight:700;
	float:left;
}
.conAreaList .two .lie ul.t1 li.last{
	display:none;
}
.conAreaList .two .lie ul.t1 li.liebiao{
	width:912px;
	height:70px;
	float:left;
}
.conAreaList .two .lie ul li.liebiao a{
	display:block;
	float:left;
	margin:10px 20px;
}
.conAreaList .two .lie ul.t1 li.right{
	height:70px;
	width:170px;
	float:right;
	position:relative;
}
.conAreaList .two .lie ul.t1 li.right span{
	display:block;
	position:absolute;
	left:100px;
	top:10px;
	width:39px;
	height:12px;
	cursor:pointer;
	background:url(../img/shouqi00.png) no-repeat;
}
.conAreaList .two .lie ul.t1 li.last{
	height:34px;
	width:1083px;
	
	float:left;
	line-height:34px;
	padding-left:115px;
}
.conAreaList .two .lie ul.t1 li.last a{
	display:block;
	margin:0 20px;
	float:left;
}
.conAreaList .two .lie ul.t2{
	height:38px;
}
.conAreaList .two .lie ul.t2 li.title{
	height:38px;
	
	width:116px;
	line-height:38px;
	text-align:center;
	font-weight:700;
}
.conAreaList .two .lie ul.t2 li{
	float:left;
	margin-right:10px;
	width:68px;
	height:38px;
	line-height:38px;
	text-align:center;
}
.conAreaList .two .lie ul.t4{
	height:72px;
}
.conAreaList .two .lie ul.t4 li.title{
	height:72px;
	
	width:116px;
	line-height:72px;
	text-align:center;
	font-weight:700;
	
}
.conAreaList .two .lie ul.t4 li{
	float:left;
	margin-right:10px;
	width:912px;
	height:72px;
	
	text-align:left;
}
.conAreaList .two .lie ul.t4 li a{
	display:block;
	float:left;
	margin:10px 10px;
}
.conAreaList .two .lie ul.t6{
	height:38px;
	position:relative;
}
.conAreaList .two .lie ul.t6 li.title{
	height:38px;
	margin-left:0;
	width:116px;
	line-height:38px;
	text-align:center;
	font-weight:700;
	padding:0;
	margin-right:20px;
}
.conAreaList .two .lie ul.t6 li{
	float:left;
	width:20px;
	height:28px;
	margin-right:10px;
	line-height:38px;
	padding-top:10px;
}
.conAreaList .two .lie ul.t6 li a{
	display:block;
}
.conAreaList .two .lie ul.t6 li img{
	display:block;
	padding:1px;
}
.conAreaList .two .lie ul.t6 li a:hover{
	border:1px solid red;
}
.conAreaList .two .lie span.laSe{
	position:relative;
	width:1198px;
	height:19px;
	/*background:url(../img/zhankai01.png) no-repeat center center;
*/}
.conAreaList .two .lie span.laSe img{
	position:absolute;
	top:-1px;
	left:46%;
	cursor:pointer;
}

.conAreaList .three{
	height:30px;
	width:1190px;
	background-color:#F5F7F6;
	margin-top:20px;
	padding-left:10px;
	padding-top:5px;
}
.conAreaList .three ul li{
	float:left;
	width:51px;
	height:21px;
	border:1px solid #E2E2E2;
	font-size:12px;
	color:#343434;
	text-align:center;
	line-height:21px;
}
.conAreaList .three input{
	height:20px;
	width:70px;
	color:#CCCCCC;
	outline:none;
	margin-left:5px;
}
.conAreaList .three a:hover li{
	background-color:#717171;
	color:white;
}
.conAreaList .picS{
	width:1200px;
	height:3300px;
	margin:20 auto;
}
.conAreaList .picS dl{
	width:231px;
	height:394px;
	float:left;
	margin-top:10px;
	margin-right:9px; 
}
.conAreaList .picS dl dt{
	width:229px;
	height:311px;
}
.conAreaList .picS dl dd{
	
	width:227px;
	height:80px;
	font-size:12px;
	border:1px solid #C0C0C0;
	border-top:none;
	color:#8C8C8C;
}
.conAreaList .picS dl dd span{
	font-size:14px;
	font-weight:600;
	color:red;
}
.conAreaList .picS img{
	width:100%;
	height:100%;
	display:block;
}
.conAreaList .four{
	width:404px;
	height:36px;
	margin:0 auto;
}
.conAreaList .four ul li{
	float:left;
	width:36px;
	height:34px;
	border:1px solid #CCCCCC;
	font-size:11px;
	line-height:36px;
	text-align:center;
	margin-right:2px;
}
.conAreaList .four ul li.num{
	border:none;
}
.conAreaList .four ul li.next{
	width:55px;
}
.conAreaList .four a:hover li{
	display:block;
	background-color:#C0C0C0;
}
.conAreaList .five{
	
	width:1200px;
	height:110px;
	margin:30px auto;
}
.conAreaList .six{
	width:1200px;
	height:82px;
	margin:0 auto;
	background-color:#F4F4F4;
}
.conAreaList .six  .souSou{
	
	float:left;
	width:540px;
	height:35px;
	background:url("../img/header2/header202.jpg") no-repeat;
	margin-top:25px ;
	margin-left:330px;
	
	
}
.conAreaList .six  .souSou .souSuokua{
	margin-left:8px;
	line-height:35px;
	float:left;
	
}
.conAreaList .six  .souSou .souSuokua input{
	width:438px;
	border:none;
	font-size:16px;
	color:#B9B9B9;
	outline:none;
	
}	
.conAreaList .six  .souSou .btnSouSuo{
	float:right;
	margin-left:8px;
	line-height:35px;
	height:35px;
	color:white;
	width:62px;
	font-weight:700;
	padding-left:10px;
	background-color:#E50163;
	cursor:pointer;
	
}
.conAreaList .seven{
	width:1200px;
	height:48px;
	margin-top:20px;
	padding-top:32px;
	
}
.conAreaList .seven ul li{
	float:left;
	margin-left:5px;
	height:12px;
	font-size:12px;
	
	
}
.conAreaList .seven ul li a{
	font-size:12px;
	color:#CCCCCC;
	margin:0 5px;
}

/********container区结束 *******/













#footer{
	height:454px;
	background-color:blue;
}
#footer .foot1{
	width:100%;
	height:144px;
	background-color:#ECECEC;
	
}
#footer .foot1 .content{
	width:1200px;
	height:144px;
	margin:0 auto;
	
	
}
#footer .foot1 .content ul{
	float:left;
	margin:20px 40px;
	height:144px;
}
#footer .foot1 .content ul li{
	
	
	margin-top:5px;
}
#footer .foot1 .content ul li a{
	display:block;
	font-size:6px;
	color:#7F7F7F;
	font-weight:500;
}
#footer .foot1 .content ul li.first a{
	color:black;
	font-weight:600;
}
#footer .foot2{
	width:100%;
	height:310px;
	background-color:white;
	
	
}
#footer .foot2 .content1{
	width:840px;
	height:230px;
	margin:0 auto;
	
}
#footer .foot2 .content1 ul.one{
	height:32px;
	padding-top:10px ;
}
#footer .foot2 .content1 ul.one li{
	float:left;
}
#footer .foot2 .content1 ul.two {
	height:12px;
	
	width:495px;
	margin:0 auto;
	margin-top:40px;
	
}
#footer .foot2 .content1 ul.two li{
	float:left;
	
}
#footer .foot2 .content1 ul.two li a{
	font-size:12px;
	margin:0 5px;
	color:#999999;
}
#footer .foot2 .content1 p {
	height:12px;
	font-size:12px;
	color:#999999;
	width:587px;
	margin:0 auto;
	margin-top:20px;
	
}
#footer .foot2 .content1 ul.three{
	width:690px;
	height:36px;
	margin:0 auto;
	margin-top:15px;
}
#footer .foot2 .content1 ul.three li{
	float:left;
	height:31px;
	margin:0 2px;
	
}
#footer .foot2 .content1 ul.three li img{
	height:100%;
}


#footer .link{
	line-height:30px;
	width:1200px;
	height:30px;
	margin:0 auto;
	margin-top:30px;
	border-top:1px dashed #CCCCCC;
	border-bottom:1px dashed #CCCCCC;
	font-size:12px;
}
#footer .link a{
	color:#999999;
}
#footer .link a:hover{
	color:red;
}