@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	list-style:none;
}
body,html{
	width:100%;
	background-color:#E4E4E4;
}
img,span{
	display:block;
}
a{
	text-decoration: none;
	
}
#header{
	width:1017px;
	height:117px;
	margin:0 auto;
}
#footer{
	width:980px;
	height:44px;
	margin:0 auto;
	margin-top:78px;

}
#content{
	width:787px;
	height:270px;
	margin:0 auto;
	background-color:white;
	padding-left:230px;
	padding-top:45px;
}
#content .welcome{
	width:594px;
	height:200px;
	border:1px solid black;
}
#content .welcome .pic{
	width:57px;
	height:100%;
	float:left;
}
#content .welcome .text{
	float:left;
}
#content .welcome .text .getTime{
	margin-top:5px;
}
#content .welcome .text .getTime .time span{
	font-size:50px;
	color:red;
	display:inline;
	margin-right:10px;
}
#content .welcome .text .btn{
	width:100%;
	height:45px;
}
#content .welcome .text input{
	display:block;
	float:left;
	outline:none;
	width:260px;
	height:44px;
	font-size:14px;
	color:white;
	margin-left:2px;
	border:none;
	margin-top:45px;
	cursor:pointer;
	
}
#content .welcome .text .btn1{
	background-color:#E30165;
}
#content .welcome .text .btn2{
	background-color:#C9C9C9;
	margin-left:6px;
}
#footer  ul.two {
	height:12px;
	
	width:495px;
	margin:0 auto;
	margin-top:40px;
	
}
#footer  ul.two li{
	float:left;
	
}
#footer  ul.two li a{
	font-size:12px;
	margin:0 5px;
	color:#999999;
}
#footer p {
	height:12px;
	font-size:12px;
	color:#999999;
	width:587px;
	margin:0 auto;
	margin-top:10px;
	
}