/*购物车的头部*/

.logo {
	position: absolute;
}

.practice {
	position: absolute;
	left: 200px;
	color: #2f2f2f;
}

.practice span {
	display: inline-block;
	line-height: 26px;
	padding: 0 10px 0 12px;
	color: #747474;
}

.loginmax {
	background: #FFFFFF;
}

.cart_status {
	width: 618px;
	height: 25px;
	background: url(../img/progressBar.gif);
	position: absolute;
	top:-16px;
	right:250px;
}


/*购物车内容*/

.cart_content {
	padding-top:10px;
	width: 100%;
	background: #FFFFFF;
	position:relative;
}

.cart_content .cart_body {
	margin: 0 auto;
	width: 1200px;
}

.cart_body .cart_list_title {
	width: 1200px;
	height: 36px;
	background: #ebebeb;
}

.cart_body .cart_list_title.top {
	margin: 0 auto;
	width: 1118px;
}

.cart_body .cart_list_title .top dt {
	float: left;
	padding-left: 40px;
	width: 40px;
	line-height: 13px;
}

.cart_body .cart_list_title .top dd {
	float: left;
	height: 36px;
	color: #414141;
	font-size: 14px;
	font-family: "宋体";
	line-height: 36px;
}

.cart_body .cart_list_title .top input {
	margin: 12px 12px 0;
	width: 13px;
	height: 13px;
}

.cart_body .cart_list_title .top dd.qb {
	width: 56px;
	text-align: left;
}

.cart_body .cart_list_title .top dd.sp {
	width: 440px;
	text-align: center;
}

.cart_body .cart_list_title .top dd.dj {
	width: 150px;
	text-align: center;
}

.cart_body .cart_list_title .top dd.sl {
	width: 100px;
	text-align: center;
}

.cart_body .cart_list_title .top dd.jexj {
	width: 192px;
	text-align: center;
}

.cart_body .cart_list_title .top dd.cz {
	width: 58px;
	text-align: left;
}

.cart_goods {
	width: 1198px;
	padding-top: 9px;
	border: 1px solid #ebebeb;
	min-height: 261px;
}

.cart_footer {
	margin: 50px 0;
	width: 1198px;
	border: 1px solid #ebebeb;
}

.title {
	margin: 0 auto;
	width: 1118px;
	height: 30px;
	background: #f5f5f5;
	color: #5d5d5d;
	font-size: 13px;
	line-height: 30px;
}

.shangjia {
	margin-right: 5px;
	margin-left: 46px;
	color: #333;
	font-size: 12px;
}

.yunfei {
	color: #333;
}

.shopping {
	width: 1118px;
	height: 60px;
	margin: 5px auto;
	border-bottom: 1px solid #f5f5f5;
}

.shopping li {
	text-align: center;
	float: left;
	width: 100px;
	height: 60px;
}

#goods {
	width: 350px;
}

#goods i {
	float: left;
	color: #5c5c5c;
	text-align: left;
	font-size: 12px;
	font-family: "宋体";
	line-height: 18px;
	margin-top: 12px;
}

#goods em {
	float: left;
	color: #9d9d9d;
	text-align: left;
	font-size: 12px;
	font-family: "宋体";
	line-height: 18px;
}

#imgsrc img {
	width: 41px;
	height: 55px;
	display: block;
	margin: 0 auto;
}

#money {
	padding-top: 20px;
	padding-left: 10px;
	height: 40px;
}

#num {
	padding-left: 45px;
	padding-top: 20px;
	height: 40px;
}

#hj {
	width: 130px;
	padding-left: 10px;
	padding-top: 20px;
	height: 40px;
	color: #d90077;
}

.num {
	float: left;
	width: 30px;
	height: 24px;
	border-top: solid 1px #ebebeb;
	border-right: none;
	border-bottom: solid 1px #ebebeb;
	border-left: none;
	text-align: center;
	font-size: 12px;
	font-family: "宋体";
	line-height: 24px;
}

.min {
	float: left;
	width: 18px;
	height: 24px;
	border: 1px solid #ebebeb;
	color: #000;
	text-align: center;
	line-height: 24px;
}

.plus {
	float: left;
	width: 18px;
	height: 24px;
	border: 1px solid #ebebeb;
	color: #000;
	text-align: center;
	line-height: 24px;
}

#check input {
	float: right;
	margin-top: 20px;
}

#opear {
	padding-top: 10px;
}

#opear span {
	float: left;
	width: 50px;
	padding-left: 20px;
	height: 14px;
	line-height: 12px;
	margin-top: 5px;
}


/*热销商品*/

.cart_footer h3 {
	width: 1170px;
	height: 40px;
	font-size: 24px;
	padding-left: 30px;
	line-height: 40px;
	border-bottom: #EBEBEB 1px solid;
}

.cart_footer img {
	width: 1130px;
	height: 370px;
	display: none;
	margin: 0 auto;
}

.cart_footer button {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 24px;
	border: 1px solid #E5E5E5;
	color: #666;
	background: #FFFEFF;
}

.cart_footer img.on {
	display: block;
}


/*付款*/

.fukuan {
	height: 180px;
	display: none;
}

.fukuan img {
	float: left;
	margin-left: 80px;
}

.zs {
	color: 333333;
	text-align: right;
	font-size: 12px;
	font-family: "宋体";
	line-height: 30px;
}

.zs .pics {
	color: #d90075;
	font-weight: 700;
}

.zs .zj {
	font-weight: 700;
}

.zs .rmb {
	color: #d60076;
	font-size: 14px;
	font-family: "微软雅黑";
}

.zs .howmuch {
	color: #d60076;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

.fukuanhj{
	margin-top: 60px;
	margin-right:80px ;
	width: 300px;
	height: 80px;
	float: right;
	
}
.fukuanhj .js{
	 display: block;
	 margin: 20px auto;
    width: 226px;
    height: 48px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 48px;
    background: #EB0067;
    border: none;
}
.fukuanhj .js a{color:#000;}
.fukuanhj .js a:hover{
   color:#fff;
}
