@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	list-style:none;
}
body,html{
	width:100%;
	background-color:white;
}
img,span{
	display:block;
}
a{
	text-decoration: none;
	
}

#header{
	width:100%;
	height:159px;
	
}


/********header1 导引*******/	
#header #header1{
	width:100%;
	height:26px;
	background-color:#F6F6F6;
	border-bottom:1px solid #EDEDED;
	position:relative;
	z-index:99;
}


#header #header1 #origin{
	width:1200px;
	height:100%;
	margin:0 auto;
}
#header #header1 #origin img{
	float:left;
}
#header #header1 #origin ul{
	float:right;
	height:100%;
	margin-right:30px;
	
}
#header #header1 #origin ul li.origin{
	float:left;
	height:26px;
	text-align:center;
	margin-left:8px;
	
}
#header #header1 #origin ul li.saoMa1{
	
	margin-left:20px;
	display:none;
	
	
}
#header #header1 #origin ul li.saoMa2{
	
	margin-left:60px;
	display:none;
}
#header #header1 #origin ul li.saoMa3{
	margin-left:100px;
	display:none;
	
}
#header #header1 #origin ul li.saoMa4{
	margin-left:220px;
	margin-top:25px;
	width:200px;
	height:120px;
	font-size:12px;
	line-height:120px;
	text-align:center;
	background-color:white;
	color:black;
	border:1px solid #EDEDED;
	display:none;
	
}

	
	

#header #header1 #origin ul li a{
		
	font-size:11px;
	width:100%;
	line-height:26px;
	color:#666666;
	text-decoration:none;
}
#header #header1 #origin ul li a:hover{
	color:darkred;
}
#header #header1 #origin ul li p{
	display:inline;

	font-size:11px;
	color:#D4D4D4;
}
/********header1 导引*******/	

/********header2 头*******/	
#header2{
	width:100%;
	height:132px;
	background-color:white;
}
#header2 #inputKua{
	width:1200px;
	height:103px;
	margin:0 auto;
}
#header2 #inputKua #mengPic{
	float:left;
	
} 
#jinDu{
	position: absolute;
	width:620px;
	height:53px;
	right:250px;
	top:-20px;
}


/*******header结束*******/


/*********内容区************/

#contentX{
	position:relative;
	width:1200px;
	height:900px;
	border:1px solid #CCCCCC;
	margin:0px auto;

}
#contentX .head1{
	width:1150px;
	height:36px;
	background-color:#F5F5F5;
	
	padding-left:50px;
}
#contentX .head1 ul li.one{
	font-size:18px;
	height:36px;
	line-height:36px;
	font-weight:700;
	float:left;	
}
#contentX .head1 ul li.two{
	color:red;
	font-size:12px;
	height:36px;
	line-height:36px;
	float:left;	
	margin-left:20px;
	cursor:pointer;
}
#contentX .content1{
	width:1100px;
	height:100px;
	padding-left:100px;
	padding-top:50px;
}
#contentX .content1 ul{
	width:860px;
	height:380px;
}
#contentX .content1 p{
	display:inline;
	margin-right:5px;
}
#contentX .content1 ul li{
	height:24px;
	margin-bottom:10px;
	font-size:12px;
	
}

#contentX .content1 ul li.eight{
	width:830px;
	padding-left:30px;
	
}
#contentX .content1 ul li.eight input{
	
	width:298px;
	height:38px;
	font-size:18px;
	color:white;
	background-color:#EB0067;
	border:none;
	outline:none;
	cursor:pointer;
	
}
#contentX .content2{
	width:1100px;
	height:100px;
	padding-left:100px;
	padding-top:10px;
}
#contentX .content2 ul li{
	font-size:14px;
	margin-top:5px;
}
#contentX .content2 ul li span{
	display:inline;
	color:#D80178;
	cursor:pointer;
}
#contentX .content2 ul li.lie{
	width:1020px;
	height:32px;
	font-size:12px;

	background-color:#F5F5F5;
	
}
#contentX .content2 ul li.lie ul li{
	float:left;
	height:32px;
	border:1px solid #C0C0C0;
	text-align:center;
	width:125px;
	line-height:31px;
}

#contentX .content2 ul li.lie ul li.one{
	width:636px;
	
	border-right:1px solid #C0C0C0;
}

#contentX .content3{
	height:150px;
}
#contentX .content3 ul li{
	font-size:14px;
	margin-top:0px;
}
#contentX .content3 ul li.kua{
	height:66px;
	
	background-color:white;
}
#contentX .content3 ul li.kua ul li{
	line-height:66px;
	height:66px;
}
#contentX .content3 ul li.kua ul li.one{
	height:61px;
	width:536px;
	line-height:0px;
	padding-top:5px;
	padding-left:100px;
}
#contentX .content3 ul li.kua ul li.one img{
	float:left;
	width:41px;
	height:55px;
	vertical-align: middle;
	margin-left:20px;
	border:none;
	
}
#contentX .content3 ul li.kua ul li.one p{
	float:left;
	font-size:12px;
	height:53px;
	margin-left:10px;
	line-height:15px;
	text-align:center;
	padding-top:13px;
	
}
#contentX .content4{
	width:1200px;
	height:105px;
	
	padding-top:15px;
	
}
#contentX .content4 .contain{
	width:1020px;
	height:100px;
	border-bottom:1px solid #C0C0C0;
	margin-left:100px;
}
#contentX .content4 .contain .totle{
	float:right;
	width:260px;
	height:100px;
}
#contentX .content4 .contain .totle li{
	height:30px;
}
#contentX .content4 .contain .totle li p{
	float:left;
	text-align:left;
	width:86px;
}
#contentX .content4 .contain .totle li span{
	float:right;
	color:red;
	text-align:right;
}
#contentX .content4 .contain .totle .three span{
	font-size:24px;
	font-weight:700;
}
#contentX .content4 .contain .totle ul li{
	
	line-height:150%;
}
#contentX .content4 .contain .totle ul li.one{
	font-weight:700;
	
}
#contentX .content5{
	width:1200px;
	height:150px;
	
	margin-top:50px;
	position:relative;
}
#contentX .content5 p{
	color:#8C8C8C;
	font-size:12px;
	position:absolute;
	top:60px;
	left:700px;
	
}
#contentX .content5 p input{
	width:140px;
	height:38px;
	background-color: #EB0067;
	color:white;
	border:none;
	outline:none;
	cursor:pointer;
}
/*********内容区************/






#footer{
	height:454px;
	background-color:blue;
}
#footer .foot1{
	width:100%;
	height:144px;
	background-color:#ECECEC;
	
}
#footer .foot1 .content{
	width:1200px;
	height:144px;
	margin:0 auto;
	overflow:hidden;
}
#footer .foot1 .content ul{
	float:left;
	margin:20px 40px;
	height:144px;
}
#footer .foot1 .content ul li{
	
	
	margin-top:5px;
}
#footer .foot1 .content ul li a{
	display:block;
	font-size:6px;
	color:#7F7F7F;
	font-weight:500;
}
#footer .foot1 .content ul li.first a{
	color:black;
	font-weight:600;
}
#footer .foot2{
	width:100%;
	height:310px;
	background-color:white;
	
	
}
#footer .foot2 .content1{
	width:840px;
	height:230px;
	margin:0 auto;
	
}
#footer .foot2 .content1 ul.one{
	height:32px;
	padding-top:10px ;
}
#footer .foot2 .content1 ul.one li{
	float:left;
}
#footer .foot2 .content1 ul.two {
	height:12px;
	
	width:495px;
	margin:0 auto;
	margin-top:40px;
	
}
#footer .foot2 .content1 ul.two li{
	float:left;
	
}
#footer .foot2 .content1 ul.two li a{
	font-size:12px;
	margin:0 5px;
	color:#999999;
}
#footer .foot2 .content1 p {
	height:12px;
	font-size:12px;
	color:#999999;
	width:587px;
	margin:0 auto;
	margin-top:20px;
	
}
#footer .foot2 .content1 ul.three{
	width:690px;
	height:36px;
	margin:0 auto;
	margin-top:15px;
}
#footer .foot2 .content1 ul.three li{
	float:left;
	height:31px;
	margin:0 2px;
	
}
#footer .foot2 .content1 ul.three li img{
	height:100%;
}


#footer .link{
	line-height:30px;
	width:1200px;
	height:30px;
	margin:0 auto;
	margin-top:30px;
	border-top:1px dashed #CCCCCC;
	border-bottom:1px dashed #CCCCCC;
	font-size:12px;
}
#footer .link a{
	color:#999999;
}
#footer .link a:hover{
	color:red;
}